
.gitattributes
.vs/RusClimate.EmailVerificationService/FileContentIndex/39509256-5a05-4cd6-b747-1e65d2e2b1ea.vsidx
.vs/RusClimate.EmailVerificationService/FileContentIndex/7183e6e2-c7d0-44e1-8235-3c34cb7db821.vsidx
.vs/RusClimate.EmailVerificationService/FileContentIndex/7a14bb42-0fcd-4605-9db4-65c9e00d52a1.vsidx
.vs/RusClimate.EmailVerificationService/FileContentIndex/884d4d5c-f0c2-4275-9892-7a17e3ecedff.vsidx
.vs/RusClimate.EmailVerificationService/FileContentIndex/ddaf79cc-cf49-4a4d-9b1e-c71df6524685.vsidx
